@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi there!</h1>

Welcome to the Blazor security course.  The pages provided all use different rendering modes, 
resulting in different ways to approach security.  
