@implements IDisposable
@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAuthNZDemo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                        <span class="bi bi-arrow-bar-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="interactiveservermode">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Interactive Server Mode
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="@AuthorizationPolicies.Policies.IsFromBelgium">
            <Authorized>
                <div class="nav-item px-2">
                    <NavLink Po class="nav-link" href="interactivewebassemblymode">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Interactive WASM Mode
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-2">
                    <NavLink class="nav-link" href="interactiveautomode">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Interactive Auto Mode
                    </NavLink>
                </div>
                <div class="nav-item px-2">
                    <form action="logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout (@context?.User?.Identity?.Name)
                        </button>
                    </form>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}